@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Detalle del producto */
.detail{
    width: 100%;
    background-color: var(--colorGrisClaro);
}
/* Contenedor general  */
.detail .box-detail {
    width: 100%;
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    align-items: center;
}
/* caja producto */
.detail .box-products{
    width: 100%;
}

/*  imagenes */

.detail .images{
    margin: 20px 0;
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px;
}
.detail .images #img-main{
    border-radius: 30px;
}
.detail img{
    width: 100%;

}
/* BOX_CONTENT*/

.box-content{
    width: 100%;
    padding: 20px;
}
.box-content{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin: 0;
}
.box-content ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--colorNegro);
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.box-content ul li a:hover{
    color: var(--colorNaranja);
    padding-left: 8px;
}

/*Informacion del producto*/
.detail .box-info h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}
.detail .box-info h3{
    text-align: center;
    font-weight: bold;
    color: var(--colorNaranja);
    font-size: 25px;
}

/*contrato compra venta*/

.detail .box-contrato {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px ;
    margin: 0;
}
.box-contrato .cantidad-carrito{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.box-contrato .box-form #cantidad{ 
    width: 60px;
    border-radius: 8px;
    margin-right: 25px;
}
.box-contrato .box-form{
    margin: 0;
}
.box-contrato .box-form h4{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
/* Boton agregar carrito*/
.detail  .btn-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detail .btn-carrito button{
    width: 120px;
    height: 40px;
    border-radius: 28px;
    border: none;
    background-color: var(--colorNaranja);
    text-align: center;
}
.btn-carrito button:hover{
    background-color: var(--colorAzul);
    cursor: pointer;
}
.btn-carrito button li a{
    color: var(--colorGrisClaro);
    text-decoration: none;
    text-align: center;
}
.btn-carrito button li i.fas.fa-cart-plus {
    padding-top: 5px;
    font-size: 15px;
    color: var(--colorNegro);
}
/*Metodos de pago*/
.box-content .pagos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.box-content .pagos a{
    color: var(--colorAzul) ;
}
.box-content .pagos .mas-detalle a{
    font-size: 10px;
    color: var(--colorNaranja);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 15px;
}

/*Envios*/

.box-content .envio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box-contrato .envio .truck{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: var(--colorAzul);
}
.box-content .envio .codigo{
    display: flex;
}

.box-contrato .envio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.envio .box-form{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;

}
.envio .calcular-costo{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.envio .codigo input{
    width: 120px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 28px 0 0 28px;
}
.envio .calcular input{
    width: 120px;
    height: 40px;
    border-radius: 0 28px  28px 0;
    border: solid 1px var(--colorNaranja);
    text-align: center;
    text-decoration: none;
    background-color: var(--colorGrisClaro);
}
.envio .calcular input:hover{
    background-color: var(--colorNaranja);
}
/* Responsive */


@media (min-width:361px) {
    .detail{
        width: 100%;
        padding: auto;
        display:flex;
        justify-content: space-around;
    }
    .detail .box-detail{
        width: 45%;
        padding: 40px 20px;
    }
    .detail .box-contrato{
        padding: 30px;
    }
    .box-contrato .cantidad-carrito{
        justify-content: space-around;
    }
    .box-contrato .box-form{
        padding: 10px;
    }
    .detail .box-content{
        display:flex;
        justify-content: space-between;
    }
    .detail .box-content div ul li {
        display: flex;
    }
    .detail .box-content div ul li{
        margin:10px 10px;
    }
    .detail .box-content div ul li a {
        display:inline-block;
    }
    .box-content .envio{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
}
    @media (min-width:768px){
    .detail{
        display:flex;
        justify-content: space-between;
    }
    .detail .box-detail{
        width: 50%;
        padding: 0;
    }
    .detail .box-content .box-contrato{
        display: flex;
        justify-content: space-around;
    }

    .detail .box-content{
        display:flex;
        justify-content: space-between;
    }
    .detail .box-content div ul li {
        display: flex;
    }
    .detail .box-content div ul li{
        margin: 10px 10px;
    }
    .detail .box-content div ul li a {
        display:inline-block;
    }
}