@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Detalle del producto */
.detail{
    width: 1170;
    background-color: var(--colorGrisClaro);
}
/* Contenedor general  */
.detail .box-detail {
    width: 100%;
    background-color: var(--colorGrisClaro);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    align-items: center;
}

/* caja producto */

.detail .box-products{
    width: 100%;
}

/*  imagenes */

.detail .img-principal{
    margin: 20px 0;
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px;
}
.detail .img-principal #img-main{
    border-radius: 30px;
}
.detail img{
    width: 100%;
}

/*Informacion del producto*/
.detail .box-content{
    width: 100%;
    padding: 0 20px;
}
.detail .box-content h2{
    text-align: center;
    font-weight: bold;
}
.detail .box-content h3{
    text-align: center;
    font-weight: bold;
    color: var(--colorNaranja);
}
/*Contrato compra venta*/
.contrato {
    width: 90%;
}
.contrato  h4{
    font-size: 12px;
    font-weight: bold;
}
.contrato div .box-form { 
    width: 120px;
}
/* Boton agregar carrito*/

.btn-carrito button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5px;
    }
}
.btn-carrito button{
    width: 120px;
    height: 40px;
    border-radius: 28px;
    border: none;box-shadow: 5px 5px 5px gray;
    background-color: var(--colorNaranja);
    text-align: center;
}

.btn-carrito button:hover{
    background-color: var(--colorNaranja);
    cursor: pointer;
}

.detail .item-carousel{
    padding: 5px;
}

.detail .box-products .glider-prev:hover{
    background-color: grey;
}

.detail ..box-products .glider-next:hover{
    background-color: grey;
}

@media (min-width:1024px) {
    .detail .box-images{
        width: 40%;
    }
    
    .detail .box-content{
        width: 60%;
    }
}