.detail .box-detail{
    width: 90%;
    background-color: #ffffff;
    margin: 30px auto 0;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.detail img{
    width: 100%;
}

.detail .box-images{
    width: 100%;
}

.detail .box-content{
    width: 100%;
    padding: 0 20px;
}

.detail .box-images-min{
    display: flex;
    justify-content: space-between;
}

.detail .box-images-min img{
    width: 30%;
}

.detail .img-principal{
    margin: 10px 0;
}

.detail .box-products{
    width: 100%;
}

.detail .item-carousel{
    padding: 5px;
}

.detail .glider-prev:hover{
    background-color: grey;
}

.detail .glider-next:hover{
    background-color: grey;
}

@media (min-width:1024px) {
    .detail .box-images{
        width: 40%;
    }
    
    .detail .box-content{
        width: 60%;
    }
}