@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


.cambios-devoluciones main,
.formas-pago main,
.como-comprar main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: var(--colorGrisClaro);
}
.cambios-devoluciones main .inicio a,
.como-comprar main .inicio a,
.formas-pago main div.inicio a{
    color: var(--colorNaranja);
    cursor: pointer;
}

.cambios-devoluciones main div.inicio,
.formas-pago main div.inicio,
.como-comprar main div.inicio{
    width: 90%;
display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    font-size: 13px;
}




.cambios-devoluciones main div.inicio a:hover,
.formas-pago main div.inicio a:hover,
.como-comprar main div.inicio a:hover{
    cursor: pointer;
    color: #ffad6a;
}

/*Cambios y devoluciones*/
.como-comprar main div.inicio a:hover,
.cambios-devoluciones main div.inicio a:hover{
    color: var(--colorNaranja);
    cursor: pointer;
}
.como-comprar main div.texto,
.cambios-devoluciones main div.texto{
    width: 90%;   
    text-align: justify; 
}

.como-comprar div p,
.cambios-devoluciones main div p{
    font-size: 11px;
}

.como-comprar main div p,
.cambios-devoluciones main div p{
    margin: 10px 0;
}


.cambios-devoluciones main div.ultimo-parrafo{
    margin-bottom: 30px;
}

.cambios-devoluciones main .box-img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Formas de Pago*/


.formas-pago main div.texto{
    width: 100%;
    text-align: center;
}
.formas-pago main div.texto div h3{
 margin-bottom: 10px;
}

.formas-pago main div section div a i{
    color: #fff;
    font-size: 20px;
    border: 1px solid var(--colorNaranja);
    background-color: var(--colorNaranja);
    padding: 10px;
    border-radius: 50%;
    
}

.formas-pago main div section div ul{
    margin: 20px;
}
.como-comprar div.ultimo-parrafo,
.formas-pago main div section div ul .ultima-lista{
margin-bottom: 50px;
}

/*como comprar*/

.como-comprar .texto h3{
margin-bottom: 30px;
}
.como-comprar div ul .ultima-lista{
    margin-bottom: 30px;
}