@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

footer{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: var(--colorNaranja);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: var(--colorGrisClaro);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 400;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    box-sizing: border-box;
}
.footer-col ul li:last-child{
    margin-bottom: 10px;
    border-right: none;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--colorGrisClaro);
    text-decoration: none;
    font-weight: 300;
    color: var(--colorGrisClaro);
    display: block;
    transition: all 0.3s ease
}
.footer-col ul li a:hover{
    color: #FFFF;
    padding-left: 8px;
}
.footer-col ul li p{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--colorGrisClaro);
    text-decoration: none;
    font-weight: 300;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--colorGrisClaro);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #FFFFFF;
    background-color: var(--colorGrisClaro);
}
.copyright {
    font-size: 16px;
    color: var(--colorGrisClaro);
    padding-left: 10px;
}
/*responsive*/
/* laptop*/
@media (min-width:1024px){
    .footer{
        padding: 27px 0;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
}
/*tablet*/
@media(max-width:768px){
    .footer-col{
    width: 100%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
}