body{
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items : center;
    font-family: 'Roboto', sans-serif;;
    background-color: var(--colorGrisClaro);  
    
}

 main div.formulario {
    height: 100%;
    margin-top: 30%;
}
 main div.formulario h2{
   text-align: center;
   margin-bottom: 10%;
}
 main div.formulario div.box-formulario{
    width: 280px;
    height: 194px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
    background-color: #ffff;
    border: 1px solid var(--colorGrisClaro);
    border-radius: 10%;  
   box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

 main div.formulario div.box-formulario div.box-form{
    display: flex;
    flex-wrap: wrap;
     align-items: center;
}
main div.formulario div.box-formulario div.box-form label.primer-label{
    margin-top: 30px;
}

 main div.formulario div.box-formulario div.box-form label{
    width: 100%;
    margin: 2px;
 
}

 main div.formulario div.box-formulario div.box-form input{
    width: 220px;
    background-color: var(--colorGrisClaro);
    border: none;
    height: 23px;
    box-shadow: 0px 5px  5px #888;
}
 main div.formulario div.box-formulario div.box-error{
    margin-left: 37.5%;
    display: flex;
    justify-content: center;
    color: var(--colorNaranja);
    font-size: 12px;
}
 main div.formulario div.box-formulario div.box-error a p{
    padding-bottom: 20px;
    color: var(--colorNaranja);
}
main div.formulario div.box-formulario div.box-error a p:hover{
    color: #ffb572;
}
 main div.formulario div.box-crea-cuenta{
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
}

main div.formulario div.box-crea-cuenta a p{
    color: var(--colorNaranja);
}
 main div.formulario div.box-crea-cuenta a p:hover{
    color: #ffb572;
}
main form div.box-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
main form button{
    width: 120px;
    height: 40px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: none;
   background-color: var(--colorNaranja);
   text-align: center;
}

main form button:hover{
    background-color: #ffad6a;
    cursor: pointer;
}

@media (min-width: 768px) {

  main div.formulario {
        margin-top: 0;
    }
     main div.formulario h2{
        margin: 5% 0;  
     }

     main div.formulario div.box-formulario{
    width: 580px;
    height: 244px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
}

 main div.formulario div.box-formulario div.box-form input{
    width: 460px;
}

 main div.formulario div.box-formulario div.box-error{
    margin-left: 60%;
    font-size: 14px; 
}

 main div.formulario div.box-check-box{
    margin-top: 21px;
    font-size: 10px;
}


 main form button{
    width: 170px;
    height: 45px;
font-size: 18px;
}
}

@media (min-width: 1024px) {
    
 main div.formulario h2{
    font-size: 30px;
  
}
     main div.formulario div.box-formulario{
        width: 880px;
        height: 330px;
}

 main div.formulario div.box-formulario div.box-form label{
    font-size: 22px;
}
 main div.formulario div.box-formulario div.box-form input{
    width: 700px;
    height: 30px;
}
 main div.formulario div.box-formulario div.box-error{
    margin-left: 67%;
    display: flex;
    margin-top: -20px;
    font-size: 16px;
}
 main form button{
    width: 220px;
    height: 55px;
font-size: 20px;
}
}
