@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,400&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
 
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    text-decoration: none;
}
a{
    text-decoration: none;
}

a{
    text-decoration: none;
}
:root{
    --colorNaranja: #fb9d5a;
    --colorAzul: #383e56;
    --colorGrisClaro: #E5E5E5;
    --colorNegro:#000000;
    --colorBlanco: #ffffff;
    

}