header div.header-principal{
    background-color: var(--colorNaranja);
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

header .burger-menu{
    margin-right: -5px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

header .header-principal .logo{
   margin: 0 -5px;
    width: 65px;
    height: 59px;
    
}

header div.buscador{
flex-grow: 0.4;
display: flex;
flex-wrap: wrap;
}

header div.buscador input{
    width: 52vw;
    border-radius: 112px;
    height: 29px;
    padding: 5px;   
    font-size: 12px; 
}
header div div.buscador div.lupa{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}
header div div.buscador div.lupa a.input-group-btn{
    font-size: 10px;
    color: black;
    padding: 10px 12px 0 0;
}

header div a.user{
    display: none;
}

header div a.carrito{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

header div.categorias{
   display: none;
}

/*Tablet*/
@media (min-width: 768px) {      
    header .header-principal{  /*header*/
        align-content: center;
    }

    header .burger-menu{  /*menu hamburguesa*/
        display: none;
        
    }
header .header-principal div.img{
    display: flex;
    margin-right: 50px;
}
  
    header .header-principal div.img a img.logo{  /*logo*/
        width: 115px;
        height: 125px;
        margin-top: 10px;
      
    }

    header div.buscador{
        position: relative;
        justify-content: center;  /*buscador (barra y lupa)*/
    }

    header div.buscador input{  /*buscador solo*/
        
        font-size: 18px;  
    }
    header div div.buscador div.lupa{ /*caja de la lupa*/
       justify-content: flex-end;
       margin-right: 17%;
    }

   header div.header-principal div.iconos{ /*caja de los iconos*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
    }

    header div.header-principal div.iconos div a.user{
        display: inline-block;   /*icono de usuario*/      
        font-size: 30px;
        color: #fff;
    }
    
    header div a.carrito{  /*icono del carrito*/
        margin-left: 120%;
        margin-right: -20%;
        font-size: 30px;       
    }
    header div.categorias{
        padding: 5px;
    }
    header div.categorias ul li{
        margin: 5px;
    }
    header div.categorias ul li a{  /*barra de categorias*/
        
        color: #ffff;
    }
   

    header div.categorias{ /*las categotias (inicio, perros, gatos)*/
        display: block;
        background-color: var(--colorAzul);
    }

    header div.categorias ul{  /*ul categorias e iconos*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
}

/*Desktop*/

@media (min-width:1024px) {
    header .header-principal{
        height: 100px;
        width: 100%;
    }
  
    header .header-principal div.img a img.logo{  /*logo*/
        width: 167px;
        height: 120px;      
    }

    header div.buscador input{  /*buscador solo*/
      height: 100%;
       
    }
    header div div.buscador div.lupa a.input-group-btn{
        font-size: 100%;
        margin-right: -22px;
    }
    header div.header-principal div.iconos{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    header div.header-principal div.iconos div a.user{  /*icono de usuario*/
        font-size: 50px;
       
      
       
    }
    header div.header-principal div.iconos div a.user i{
        margin-left: 20%;
        
        
    }

    header div.header-principal div.iconos div.box-carrito{
       display: flex;
       flex-wrap: wrap;
       
       
      
    }

    header div.header-principal div.iconos div a.carrito i{  /*icono del carrito*/
        font-size: 50px;
        justify-content: flex-start;
        align-content: flex-end;
        width: 100%;
        margin-left: -15%;
    margin-right: 10%;
       
    }
    header div.categorias ul li{  /*ul categorias e iconos*/
        font-size: 18px;
       
        }

     
}


