@import url('./general.css');
@import url('./header.css');
@import url('./home.css');
@import url('./carrito.css');
@import url('./footer.css');
@import url('./form-general.css');
@import url('./register.css');
