 <!--Footer -->

 <footer class="footer">
    <!--contenedor -->
    <div class="container">

        <!--info pagina-->

    <div class="row">
        <div class="footer-col">
            <h4>Institucional</h4>
            <ul>
                <li><a href="/nosotros">Quiénes somos</a></li>
                <li><a href="/politicas-de-calidad">politica de calidad</a></li>
                <li><a href="/terminos-y-condiciones">Terminos y condiciones</a></li>
            </ul>
        </div>

            <!--dudas -->

            <div class="footer-col">
                <h4>Dudas</h4>
                <ul>
                    <li><a href="/como-comprar">Cómo compar</a></li>
                    <li><a href="/cambios-y-devoluciones">Cambios y devoluciones</a></li>
                    <li><a href="/formas-de-pago">Formas de pago</a></li>
                </ul>
            </div>

            <!--Info contacto-->

            <div class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li>
                        <p>Info@petsociety.com</p>
                    </li>
                    <li>
                        <p>Atención telfónica: 0800-petsociety</p>
                    </li>
                    <li>
                        <p>Atención Whatsapp: (11)-xxxxxxx</p>
                    </li>
                    <li>
                        <p>lunes a sabados de 10 a 20hs</p>
                    </li>
                </ul>
            </div>

            <!--Redes -->

            <div class="footer-col">
                <h4>Seguinos en:</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© Pet Society 2021</p>
    </div>
</footer>