<header>
    <div class="header-principal">
        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div class="img">
            <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
        </div>
        <div class="buscador">
            <form action="">
                <input type="text" name="search2" placeholder="¿Que estas buscando?">
                <a class="lupa" href="" class="input-group-btn"><i class="fa fa-search fa-lg"></i></a>
            </form>
        </div>
        <div class="iconos">
         
            <nav>
                <ul>
                
                    <a href="/carrito" class="carrito-header"><i class="iconify"
                            data-icon="emojione-monotone:shopping-cart"></i></a>
                </ul>
            </nav>
            <% if (locals.userLogin){ %>
                <div class="menu-logueado">
                    <div class="dropdown" style="margin-right: 30px;">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= locals.userLogin.name%>  
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="/users/profile">Mi Perfil</a></li>
                          
                    <% if (locals.userLogin.rol === 2) {%>
                        <li><a class="dropdown-item" href="/admin">Administracion</a></li>
                    <% }%> <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/users/logout">Cerrar Sesion</a></li>
                 </ul>
                    </div>
                    </div>
               <% } else { %>
                <nav>
                    <ul>
                        <a href="/users/login" class="user"><i class="far fa-user-circle"></i></a>
                   
                    </ul>
                </nav>
                 
            <% } %>

            
        </div>
    </div>
    <div class="categorias">
        <nav>
            <ul>
                
                
                <li><a href="/">Inicio</a></li>
                <li>
                    <a href="" class="icono-perro"><i class="fas fa-dog"></i></a>
                    <a href="#perros">Perros</a>
                    <a href="" class="boton"><i class="fas fa-caret-down"></i></i></a>
                </li>
                <li>
                    <a href="" class="icono-gato"><i class="fas fa-cat"></i></a>
                    <a href="#gatos">Gatos</a>
                    <a href="" class="boton"><i class="fas fa-caret-down"></i></a>
    </div>
</header>