<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head')%>

    <body class="home">
        <%-include('./partials/header')%>
            <main class="carrito">
                <!--seccion carrito -->
                <h1> > Carrito de compras</h1>
                <div class="detalles">
                    <p>Producto</p>
                    <p>precio</p>
                    <p>cantidad</p>
                    <p>total</p>
                </div>
                <!-- tarjetas de cada producto en el carrito -->
                <section class="section-carrito" id="listaFinal-carrito">

                    <!--producto 1-->
                  
                   
                   
                </section>
                 <div>
                    
                </div>
                <!--Detalle de compra-->
                <aside class="total-compra">
                    <section class="detalle-total">
                        <div class="detalle-precios" id="cart-footer">
                            <div class="subtotal">
                                <h3>Total</h3>
                                <p id="total"></p>
                            </div>
                            <div class="envio">
                                <h5>Envio </h5>
                                <p>$0</p>
                            </div>
                          
                    </section>


                    <div class="boton-pagar"><button>Finalizar compra</button></div>
                </aside>



            </main>

            <%-include('./partials/footer')%>
                <%-include('./partials/scripts')%>

                    <script src="/javascripts/carritoFinal.js"></script>
    </body>

</html>