<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head')%>

<body class="home">
    <%-include('./partials/header')%>
    <main class="carrito">
        <!--seccion carrito -->
        <h1> > Carrito de compras</h1>
        <div class="detalles"><p>Producto</p><p>precio</p><p>cantidad</p><p>total</p></div>
        <!-- tarjetas de cada producto en el carrito -->
        <section class="section-carrito" id="lista-carrito" >
            
            <!--producto 1-->
            <article id="cart-head" class="carrito-producto">
                
                <div class="foto-carrito">
                    <img src="" alt="foto">
                    <div class="botones"><button class="sacar"> - </button><input><button class="agregar"> + </button>
                    </div>
                </div>
            <!--descripcion del producto-->
                <div class="carrito-descripcion">
                    <h4>Producto</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                    <p class="precio-prod"><b>$50</b></p>
                </div>
            <!--Boton de cierre-->
                <div class="cierre"><button><i class="fas fa-times-circle"></i></button></div>
            </article>
            
            <div>
            <span id="cart-empty" class="text-danger">El carrito no tiene productos agregados</span>
            </div>
        </section>

        <!--Detalle de compra-->
        <aside class="total-compra">
            <section class="detalle-total">
            <div class="detalle-precios" id="cart-footer">
            <div class="subtotal"><h3> Subtotal</h3><p></div>
            <div class="envio"><h3>Envio </h3><p>$0</p></div>
            <h5 id="total"></h5>
            
            </section>
           
            
            <div class="boton-pagar"><button>Finalizar compra</button></div>
        </aside>



    </main>

    <%-include('./partials/footer')%>
    <%-include('./partials/scripts')%>
</body>

</html>