<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cambios y Devoluciones</title>
</head>
<body class="cambios-devoluciones">
    <main>
        <div class="inicio">
            <a href="">Inicio > </a> <a href=""> Cambios y Devoluciones</a>
        </div>
        <div class="texto">
                <div>
                    <p>QUEREMOS QUE TU EXPERIENCIA DE COMPRA SEA LA MEJOR.</p> 
                </div>
                <div>
                    <p>SI TUVISTE ALGÚN INCONVENIENTE CON TU PEDIDO Y NECESITÁS AYUDA, COMUNICATE CON NUESTRO EQUIPO DE ATENCIÓN AL CLIENTE (11)-xxxxxxxx PARA QUE PODAMOS AYUDARTE CON TU INCONVENIENTE.</p>
                </div>
                <div>
                    <p>LOS HORARIOS DE ATENCIÓN SON DE LUNES A SABADOS DE 10 A 20 HS. TAMBIÉN PODÉS ENVIARNOS UN MAIL A INFO@PETSOCIETY.COM PARA CONTACTAR A NUESTRO EQUIPO.</p>
                </div>
                <div>
                    <p>PRECORDÁ TENER SIEMPRE A MANO EL NÚMERO DE ORDEN.</p> 
                </div>
                <div class="ultimo-parrafo">
                    <p>¡NOS INTERESA QUE TU SATISFACCIÓN SEA TOTAL!</p>
                </div>
        </div>
    </main>
</body>
</html>


