<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>

<body>
    <header></header>
    <h1>Mi carrito</h1>
    <div>
        <table class="carrito">
            <tbody>
                <tr class="producto">
                    <td><img src="./img/alimento3.jpg" alt="foto"></td>
                </tr>
            </tbody>





        </table>
        </form>
    </div>


</html>