<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pet Society</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pet Society - Home</title>
</head>

<body class="home">
    <header>
        <div class="header-principal">
            <div class="burger-menu">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            <div class="img">
                <a href=""><img class="logo" src="/img/logo.png" alt=""></a>
            </div>
            <div class="buscador">
                <form action="">
                    <input type="text" placeholder="¿Que estas buscando?">
                    <a class="lupa" href="" class="input-group-btn"><i class="fa fa-search fa-lg"></i></a>
                </form>
            </div>
            <div class="iconos">
                <nav>
                    <ul>
                        <a href="" class="user"><i class="far fa-user-circle"></i></a>
                        <a href="" class="carrito"><i class="iconify"
                                data-icon="emojione-monotone:shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="categorias">
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li>
                        <a href="" class="icono-perro"><i class="fas fa-dog"></i></a>
                        <a href="">Perros</a>
                        <a href="" class="boton"><i class="fas fa-caret-down"></i></i></a>
                    </li>
                    <li>
                        <a href="" class="icono-gato"><i class="fas fa-cat"></i></a>
                        <a href="">Gatos</a>
                        <a href="" class="boton"><i class="fas fa-caret-down"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <!--seccion carrito -->
        <h1> > Carrito de compras</h1>
        <!-- tarjetas de cada producto en el carrito -->
        <section class="section-carrito">
            
            <!--producto 1-->
            <article class="carrito-producto">
            
                <div class="foto-carrito">
                    <img src="/img/snack1.jpg" alt="foto">
                    <div class="botones"><button class="sacar"> - </button><input><button class="agregar"> + </button>
                    </div>
                </div>
            <!--descripcion del producto-->
                <div class="carrito-descripcion">
                    <h4>Producto</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                    <p class="precio-prod"><b>$ 50</b></p>
                </div>
            <!--Boton de cierre-->
                <div class="cierre"><button><i class="fas fa-times-circle"></i></button></div>
            </article>
            <!--producto 2-->
            <article class="carrito-producto">
                <div class="foto-carrito">
                    <img src="/img/snack2.jpg" alt="foto">
                    <div class="botones"><button class="sacar"> - </button><input><button class="agregar"> + </button>
                    </div>
                </div>
                <div class="carrito-descripcion">
                    <h4>Producto</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                    <p class="precio-prod"> <b>$ 50</b></p>
                </div>
            <!--Boton de cierre-->
                <div class="cierre"><button><i class="fas fa-times-circle"></i></button></div>
            </article>


        </section>

        <!--Detalle de compra-->
        <aside class="total-compra">
            <section class="detalle-total">
            <div class="detalle-precios">
            <div class="subtotal"><h3> Subtotal</h3><p>3000</div>
            <div class="envio"><h3>Envio </h3><p>2500</p></div>
            <div class="total"><h3>Total </h3> <p>4000</p></div>
            
            </section>
           
            
            <div class="boton-pagar"><button>Finalizar compra</button></div>
        </aside>



    </main>

    <!--Footer -->

    <footer class="footer">
        <!--contenedor -->
        <div class="container">

            <!--info pagina-->

            <div class="row">
                <div class="footer-col">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">politica de calidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>

                <!--dudas -->

                <div class="footer-col">
                    <h4>Dudas</h4>
                    <ul>
                        <li><a href="#">Cómo compar</a></li>
                        <li><a href="#">Cambios y devoluciones</a></li>
                        <li><a href="#">Formas de pago</a></li>
                    </ul>
                </div>

                <!--Info contacto-->

                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul>
                        <li>
                            <p>Info@petsociety.com</p>
                        </li>
                        <li>
                            <p>Atención telfónica: 0800-petsociety</p>
                        </li>
                        <li>
                            <p>Atención Whatsapp: (11)-xxxxxxx</p>
                        </li>
                        <li>
                            <p>lunes a sabados de 10 a 20hs</p>
                        </li>
                    </ul>
                </div>

                <!--Redes -->

                <div class="footer-col">
                    <h4>Seguinos en:</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Pet Society 2021</p>
        </div>
    </footer>

</body>

</html>