<!DOCTYPE html>
<html lang="es">

<head>
    <title>detalle-de-producto</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="header-principal">
            <div class="burger-menu">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            <div class="img">
                <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
            </div>
            <div class="buscador">
                <form action="">
                    <input type="text" placeholder="¿Que estas buscando?">
                    <a class="lupa" href="" class="input-group-btn"><i class="fa fa-search fa-lg"></i></a>
                </form>
            </div>
            <div class="iconos">
                <nav>
                    <ul>
                        <a href="/login" class="user"><i class="far fa-user-circle"></i></a>
                        <a href="" class="carrito"><i class="iconify"
                                data-icon="emojione-monotone:shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="categorias">
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li>
                        <a href="" class="icono-perro"><i class="fas fa-dog"></i></a>
                        <a href="">Perros</a>
                        <a href="" class="boton"><i class="fas fa-caret-down"></i></i></a>
                    </li>
                    <li>
                        <a href="" class="icono-gato"><i class="fas fa-cat"></i></a>
                        <a href="">Gatos</a>
                        <a href="" class="boton"><i class="fas fa-caret-down"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!--Detalle del producto-->

    <main class="detail">

        <!--contenedor imagenes -->
        <div class="box-detail">
            <div class="box-products">
                <div class="images">
                    <img id="img-main" src="/img/alimento1.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="box-content">
            <!--informacion del producto -->
            <div class="box-info">
                <div>
                    <h2>Nombre del producto</h2>
                    <h3> $ 1.000 </h3>
                </div>
            </div>
            <hr>
            <!-- Contrato compra venta-->
            <div class="box-contrato">
                <!--Seleccionar cantidda-->
                <div class="cantidad-carrito">
                    <div class="box-form">
                    <h4>Cantidad</h4>
                        <div class="botones">
                            <input type="submit" value="-" id="menos">
                            <input type="number" value="1" id="cantidad">
                            <input type="submit" value="+" id="mas">
                        </div>
                    </div>
                    <!-- Boton agregar al carrito-->
                    <div class="btn-carrito">
                        <button>
                                <i class="fas fa-cart-plus"></i> <a href="/carrito"> Agregar al carrito </a>
                        </button>
                    </div>
                </div>

                <!--Metorodos de pago-->
                <div class="pagos">
                    <ul>
                        <li><a href="/login.html">Métodos de pagos <i class="far fa-address-card"></i>
                            <i class="fas fa-sign-in-alt"></i>
                            <i class="fas fa-university"></i>
                            </a>
                            <div class="mas-detalle">
                                <a href="/mas-detalle">más detalle</a>
                            </div>
                            </div>
                        </li>
                    </ul>
                        

                <!-- Envio-->

                <div class="envio">
                    <div class="truck">
                        <h4><i class="fas fa-truck"></i>  Envío </h4>
                    </div>
                    <!--calcular costo de envio -->
                    <div class="calcular-costo">
                            <p>
                                Calcular costo de envío
                            </p>
                        <div class="box-form">
                            <div class="codigo">
                                <input type="text" placeholder="tu codigo postal" id="codigo-postal" name="odigo-Postal">
                            </div>
                            <div class="calcular">
                                <input type="submit" value="calcular">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
</main>
<main class="descripcion">
        <p>Una breve descripción del producto <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ratione illum quibusdam atque expedita consectetur illo optio dolor nemo cum nostrum harum placeat ipsa dolore repellendus mollitia, itaque sequi magnam.
        </p>
</main>

    <!--Footer -->

    <footer class="footer">
        <!--contenedor -->
        <div class="container">

            <!--info pagina-->

            <div class="row">
                <div class="footer-col">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="/nosotros">Quiénes somos</a></li>
                        <li><a href="#">politica de calidad</a></li>
                        <li><a href="/terminos-y-condiciones">Terminos y condiciones</a></li>
                    </ul>
                </div>

                <!--dudas -->

                <div class="footer-col">
                    <h4>Dudas</h4>
                    <ul>
                        <li><a href="/como-comprar">Cómo compar</a></li>
                        <li><a href="/cambios-y-devoluciones">Cambios y devoluciones</a></li>
                        <li><a href="/formas-de-pago">Formas de pago</a></li>
                    </ul>
                </div>

                <!--Info contacto-->

                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul>
                        <li>
                            <p>Info@petsociety.com</p>
                        </li>
                        <li>
                            <p>Atención telfónica: 0800-petsociety</p>
                        </li>
                        <li>
                            <p>Atención Whatsapp: (11)-xxxxxxx</p>
                        </li>
                        <li>
                            <p>lunes a sabados de 10 a 20hs</p>
                        </li>
                    </ul>
                </div>

                <!--Redes -->

                <div class="footer-col">
                    <h4>Seguinos en:</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Pet Society 2021</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>


</html>