<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Formas de Pago</title>
</head>
<body class="formas-pago">
    <main>
        <div class="inicio">
            <a href="">Inicio > </a> <a href=""> Formas de Pago</a>
        </div>
        <div class="texto">
                <div>
                    <h3>Medios de Pago</h3>
                </div>
                
                <section>
                    <div>
                        <a href=""><i class="far fa-money-bill-alt"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Efectivo".</li>
                                    <li>Confirmá finalmente tu pedido.</li>
                                </ul>
                            </div>
                </section>
             
                <section>
                    <div>
                        <a href=""><i class="fas fa-university"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Transferencia Bancaria".</li>
                                    <li>Realizá la transferencia con los datos que te brindamos al confirmar el pedido.</li>
                                </ul>
                            </div>
                </section>

                <section>
                    <div>
                        <a href=""><i class="fas fa-credit-card"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Tarjeta de crédito / débito".</li>
                                    <li>Confirmá finalmente tu pedido.</li>
                                </ul>
                            </div>
                </section>
                <section>
                    <div> 
                        <img width="58px" height="50px" src="/img/mp.png" alt="">
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Mercado Pago".</li>
                                    <li>Aprovechá las promociones vigentes con tarjeta de Mercado Pago.</li>
                                </ul>
                            </div>
                </section>
        </div>
    </main>
</body>
</html>


