<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">politica de calidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Dudas</h4>
                    <ul>
                        <li><a href="#">Cómo compar</a></li>
                        <li><a href="#">Cambios y devoluciones</a></li>
                        <li><a href="#">Formas de pago</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul>
                        <li><p>Info@petsociety.com</p></li>
                        <li><p>Atención telfónica: 0800-petsociety</p></li>
                        <li><p>Atención Whatsapp: (11)-xxxxxxx</p></li>
                        <li><p>lunes a sabados de 10 a 20hs</p></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Seguinos en:</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Pet Society 2021</p>
        </div>
    </footer>
</body>
</html>