<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pet Society - Home</title>
</head>

<body class="home">
    <div class="banner"><img src="./img/banner.png"></div>
    <main>
        
        <section class="productos-perros">
          
            <article>
                <div class="tarjeta">
                    <img src="./img/alimento1.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento2.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento3.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Excellent Dog Adult Skin Care Cordero 15 kg + PROMO</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento4.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/snack4.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/snack1.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/snack2.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/snack3.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="productos-gatos">
            
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
        </section>
    </main>

</body>

</html>