<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pet Society</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Pet Society - Home</title>
</head>

<body class="home">
    
    
    <!--cuerpo-->
    <main>
        <!--Banner-->
        <section class="banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div id="carrousel1" class="carousel-item active"></div>
                    <div id="carrousel2" class="carousel-item "></div>
                    <div id="carrousel3" class="carousel-item "></div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
         <h3 class="titulos">Perros</h3>
         <!--Productos-->
        <section class="productos">
         <!--Tarjetas 1-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="./img/alimento1.jpg" alt=""></a>
                    <div class="detalle-producto">
                        <h4 class="producto">Producto</h4>
                        <p class="descripcion">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 2-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento2.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 3-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento3.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Excellent Dog Adult</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 4-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento4.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 5-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 6-->
            <article>
                <div class="tarjeta">
                    <img src="/img/snack4.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 7-->
            <article>
                <div class="tarjeta">
                    <img src="/img/snack1.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 8-->
            <article>
                <div class="tarjeta">
                    <img src="/img/snack2.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 9-->
            <article>
                <div class="tarjeta">
                    <img src="/img/snack3.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 10-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
        </section> 
        <h3 class="titulos">Gatos</h3>
        <section class="productos">
            <!--Tarjetas 1-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 2-->
            <article>
                <div class="tarjeta">
                    <img src="/img/alimento5.jpg" alt="">
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">politica de calidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Dudas</h4>
                    <ul>
                        <li><a href="#">Cómo compar</a></li>
                        <li><a href="#">Cambios y devoluciones</a></li>
                        <li><a href="#">Formas de pago</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contacto</h4>
                    <ul>
                        <li><p>Info@petsociety.com</p></li>
                        <li><p>Atención telfónica: 0800-petsociety</p></li>
                        <li><p>Atención Whatsapp: (11)-xxxxxxx</p></li>
                        <li><p>lunes a sabados de 10 a 20hs</p></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Seguinos en:</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Pet Society 2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>