<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Registro</title>
</head>
<body class="login">
    <main>
        <form action="">
            <div class="formulario">
                <h2>Iniciar sesión</h2>
                <div class="box-formulario">
                    <div class="box-form">
                        <label for="email" class="primer-label">Correo electrónico</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="box-form">
                        <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass">
                    </div>
                    
                <div class="box-error">
                    <p>Olvidé mi contraseña</p>
                </div>
            </div>
            <div class="box-crea-cuenta">
            <a href=""><p>No tengo cuenta. Crea una.</p></a>        
            </div>
            <div class="box-button">
                <button type="submit">Ingresar</button>
            </div>
            
        </form>
        
    </main>
</body>
</html>