<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nosotros</title>
</head>
<body class="nosotros">
    <main>
        <div class="inicio">
            <a href="">Inicio > </a> <a href="">Quiénes Somos</a>
        </div>
        <div class="texto">
                <div>
                    <p>En Pet Society sabemos lo importante que es tu mascota para vos. Vive, duerme, juega y camina a tu lado. Tu mejor compañía te acepta tal cual sos y, a cambio, te ofrece todo su amor e incondicionalidad. Tu única responsabilidad es cuidarla y quererla.</p> 
                </div>
                <div>
                    <p>En Pet Society reconocemos a las mascotas como un miembro más de la familia, para ello ofrecemos la más amplia variedad en productos alimenticios, accesorios, y mucho más!</p>
                </div>
                <div class="ultimo-parrafo">
                    <p>Desde catycan.com entregamos cada semana cientos de productos a hogares con perros y/o gatos. Llevamos hasta tu puerta todo para tu mascota: alimentos balanceados para perros y gatos, accesorios, golosinas, juguetes y mucho más, siendo el pet shop online más completo del país.</p>
                </div>
        </div>
    </main>
</body>
</html>