<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Register</title>
</head>
<body class="register">
    <main>
        <form action="">
            <div class="formulario">
                <h2>Crea una Cuenta</h2>
                <div class="box-formulario">
                    <div class="box-form">
                        <label for="nombre" class="primer-label">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <div class="box-form">
                        <label for="aprellido">Apellido</label>
                    <input type="text" name="aprellido" id="aprellido">
                    </div>
                    <div class="box-form">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="box-form">
                        <label for="pass">Contraseña</label>
                    <input class="ultimo-input" type="password" name="pass" id="pass">
                    </div>
                    
            </div>
             
            <div class="box-check-box">
                <div class="box-check">
                    <input type="checkbox" name="tarms" id="terms">
                    <label for="terms">Acepto términos y condiciones</label>
                </div>
            </div>
            <div class="box-button">
                <button type="submit">Ingresar</button>
            </div>
            <div class="box-crea-cuenta">
                <a href=""><p>Ya tengo cuenta.</p></a>        
                </div>
        </div>
            
        </form>
        
    </main>
</body>
</html>