@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Detalle del producto */
.detail{
    background-color: var(--colorGrisClaro);
    max-width: 1700;
}
/* Contenedor general  */
.detail .box-detail {
    width: 100%;
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;

}
.box-products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
/* caja producto */
/*  imagen grande  */
.detail .images{
    width: 100%;
    box-shadow: 5px 5px 5px gray;
    border-radius: 30px;
    margin-right: 4%;
}
.images img{
    height: 460px;
}

/*  imagen pequeña  */
.detail .images-min{
width: 100%;
display: flex;
}

.box-img-min{
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 10px 15px;
    transition: all 0.5s ease;
}
.box-img-min:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px gray;
}
.img-mini {
    width: 100%;
    background-color: white;
    border-radius: 30px;
} 


.detail .images #img-main{
    border-radius: 30px;
    width: 100%;
}
/* BOX_CONTENT*/

.box-content{
    width: 90%;
    padding: 20px;
}
.box-content{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin: auto;
}


/*Informacion del producto*/
.detail .box-info h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}
.detail .box-info h3{
    text-align: center;
    font-weight: bold;
    color: var(--colorNaranja);
    font-size: 25px;
}

/*contrato compra venta*/

.box-contrato {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cantidad-carrito{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0;
}
.box-form{
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content:start;
}
.box-contrato .box-form .botones #cantidad{ 
    width: 35px;
    height: 25px;
    margin: 0;
    border: none;
    background-color: var(--colorGrisClaro);
    text-align: center;
    font-weight: bold;
}
.box-contrato .box-form .botones #menos{
    width: 20px;
    height: 25px;
    border: none;
    font-weight: bold;
    border-radius: 28px 0 0 28px;
}
.box-contrato .box-form .botones #mas{
    width: 20px;
    height: 25px;
    margin: 0;
    border: none;
    font-weight: bold;
    border-radius: 0 28px 28px 0;
}
.box-contrato .box-form h4{
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
/* Boton agregar carrito*/
.detail  .btn-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 40px;
    font-size: 14px;
    border-radius: 28px;
    border: none;
    background-color: var(--colorNaranja);
    text-align: center;
}

.btn-carrito  a{
    padding: 10px;
    color: var(--colorGrisClaro);
    text-decoration: none;
    text-align: center;
}
.btn-carrito  i.fas.fa-cart-plus {
    padding-top: 5px;
    font-size: 15px;
    color: var(--colorNegro);
}

/*Metodos de pago*/

.box-content .pagos{
    width: 70%;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.pagos .lbl-modal {
    border: none;
    cursor: pointer;
    background-color: var(--colorGrisClaro);
}
#btn-modal{
    display: none;
}
.pagos .lbl-modal {
    color: var(--colorAzul) ;
    order: -1;
    transition: all 0.3s ease
}
.pagos .lbl-modal:hover{
    color: var(--colorNaranja);
    cursor: pointer;
    padding-left: 8px;
}
.pagos .mas-detalle li a{
    font-size: 10px;
    color: var(--colorNaranja);
    display: flex;
    justify-content: end;
    order: 1;
}

/*Ventana formas de pago*/

.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.cont{
    width: 300px;
    height: 400px;
    margin: auto;
    background: var(--colorGrisClaro);
    box-shadow: 1px 7px 25px rgba(0, 0, 0,0.6);
    border-radius: 18px;
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .cont{
    transform: translateY(0%);
}
.cont header{
    padding: 10px;
    background: var(--colorNaranja);
    border-radius:  18px 18px 0 0;
    color: #FFFF;
    text-align: center;
    font-weight: bold;
}
.cont .pagar{
    padding: 10px;
}
.pagar img{
    padding-left: 7px;
}
.cont label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFF;
    font-size: 15px;
    cursor: pointer;

}

/*Envios*/

.box-content .envio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.envio .truck{
    display: flex;
    justify-content: left;
    color: var(--colorAzul);
}
.envio .truck{
    order: -1;
}
.envio .box-form{
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.envio p{
    order: 1
}
.envio .box-form{
    order: 0;
}
.calcular-costo p{
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.envio .calcular-costo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.envio .codigo input{
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 28px 0 0 28px;
    background-color: #FFFF;
}
.envio .calcular input{
    width: 120px;
    height: 50px;
    border-radius: 0 28px  28px 0;
    border: none;
    border-left: solid 1px var(--colorNaranja);
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    background-color: #FFFF;
}
.envio .calcular input:hover{
    background-color: var(--colorNaranja);
}
.descripcion{
    width: 100%;
    height: 20%;
    background-color: var(--colorGrisClaro);
    display: flex;
    justify-content: center;
}


/* Responsive */
    /*tabet*/

@media (min-width:380px) {
    .detail{
        display: flex;
    }
    .box-contrato .cantidad-carrito{
        padding-top:30px;
        display: flex;
        flex-wrap: nowrap;
    }
    .cantidad-carrito .btn-carrito {
        width: 100%;
        height: 45px;
        margin: auto;
    }
    .btn-carrito  .boton-carrito-a{
        padding: 6px;
    }
    .detail .box-content h4{
        font-size: 18px;
    }
    .detail .box-content div ul li{
        font-size: 18px;
    }

    .detail .box-content div ul li a {
        font-size: 15px;
    }
    .box-content .pagos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px 0;
    }
    .box-content .pagos .mas-detalle{
        display: flex;
        align-items: flex-end;
    }
    .pagos{
        padding-left: 10px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        font-size: 18px;
    }
    .cont{
        width: 500px;
        height: 500px;
        margin: auto;
    }
    .cont .pagar{
        padding: 20px;
        margin: auto;
        box-sizing: border-box;
        
    }
    .envio{
        display: flex;
        justify-content: center;
    }
    .envio .truck{
        margin-left: 20%;
        display: flex;
        justify-content: baseline;
    }
    .envio .calcular-costo {
        display: flex;
        flex-direction: row-reverse;
    }
    .envio .calcular-costo p{
        width: 100%;
        font-size: 11px;
        display: flex;
        justify-content: center;   
        align-items: center;
    }
    .calcular-costo .box-form{
        width: 100%;
        display: flex;
        flex-direction: row;   
        justify-content: center;
    }
    .calcular-costo li p{
        font-size: 10;
    }
    .calcular-costo .box-form{
        display: flex;
    justify-content: end;
    }
    .descripcion{
        width: 100%;
        height: 20%;
        background-color: var(--colorGrisClaro);
        display: flex;
        justify-content: start;
    }
}

/*laptop*/

    @media (min-width:1020px){
        .detail{ 
            display: flex;
            justify-content: center;
        }
        .detail .box-detail {
            width: 70%;
            background-color: var(--colorGrisClaro);
            display: flex;
            flex-wrap: wrap;
            padding: 40px 20px;
        
        }
        .detail .box-content{
            margin-left: 5%;
        }
    .detail .box-content .box-contrato{
        width: 100%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        
    }
    .detail .box-content div ul li {
        display: flex;
    }
    .detail .box-content div ul li{
        margin: 10px 10px;
    }
    .detail .box-content div ul li a {
        display:inline-block;
    }
/* boton carrito */
.box-contrato .cantidad-carrito{
    padding-top:30px;
    display: flex;
    flex-wrap: nowrap;
}
.box-contrato .cantidad-carrito {
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.cantidad-carrito .btn-carrito {
    width: 25%;
    }
.box-content .pagos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
}
/*Descripcion del producto */
    .descripcion{
        width: 100%;
        height: 20%;
        padding: 20px;
        background-color: var(--colorGrisClaro);
        display: flex;
        justify-content: start;
    }
/* pagos y venta  */

    .box-content .pagos {
        width: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px 0;
    }

/*Envio*/

    .envio{
        display: flex;
        justify-content: flex-start;
    }
    .envio .truck {
        padding-bottom: 32px;
        margin: 0;
    }
    .envio .calcular-costo {
        display: flex;
        flex-direction: row-reverse;
    }
    .envio .calcular-costo p{
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    .calcular-costo .box-form{
        width: 100%;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
    }

}