.main-login, .main-register{
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items : center;
    font-family: 'Roboto', sans-serif;;
    background-color: var(--colorGrisClaro); 
}

.main-register  div.formulario
.main-login  div.formulario {
    height: 100%;
    margin-top: 30%;
  
}
.main-register div.formulario h2,
.main-login  div.formulario h2{
   text-align: center;
   margin: 10% 0;
}
.main-register div.formulario div.box-formulario,
 .main-login  div.formulario div.box-formulario{
    width: 280px;
  
   
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
    background-color: #ffff;
    border: 1px solid var(--colorGrisClaro);
    border-radius: 10%;  
   box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

 .main-login  div.formulario div.box-formulario div.box-form,
 .main-register  div.formulario div.box-formulario div.box-form{
    display: flex;
    flex-wrap: wrap;
     align-items: center;
}
.main-login  div.formulario div.box-formulario div.box-form label.primer-label,
.main-register  div.formulario div.box-formulario div.box-form label.primer-label{
    margin-top: 0px;
}

.main-login  div.formulario div.box-formulario div.box-form label,
.main-register  div.formulario div.box-formulario div.box-form label{
    width: 100%;
    margin: 2px;
 
}

.main-login  div.formulario div.box-formulario div.box-form input,
.main-register div.formulario div.box-formulario div.box-form input{
   
    background-color: var(--colorGrisClaro);
    border: none;
    height: 23px;
    box-shadow: 0px 5px  5px #888;
}
.main-login  div.formulario div.box-formulario div.box-error,
.main-register div.formulario div.box-formulario div.box-error{
    margin-left: 37.5%;
    display: flex;
    justify-content: center;
    color: var(--colorNaranja);
    font-size: 12px;
}
.main-login  div.formulario div.box-formulario div.box-error .box-remember{
    margin-bottom: 20px;
}


.main-login  div.formulario div.box-formulario div.box-error a p,
.main-register div.formulario div.box-formulario div.box-error a p{
    padding-bottom: 20px;
    color: var(--colorNaranja);
}
.main-login  div.formulario div.box-formulario div.box-error a p:hover,
.main-register div.formulario div.box-formulario div.box-error a p:hover{
    color: #ffb572;
}
.main-login  div.formulario div.box-crea-cuenta,
.main-register div.formulario div.box-crea-cuenta{
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
}

.main-login  div.formulario div.box-crea-cuenta a p,
.main-register div.formulario div.box-crea-cuenta a p{
    color: var(--colorNaranja);
}
.main-login  div.formulario div.box-crea-cuenta a p:hover,
.main-register div.formulario div.box-crea-cuenta a p:hover{
    color: #ffb572;
}
.main-login  form div.box-button,
.main-register form div.box-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}
.main-login  form button,
.main-register form button{
    width: 120px;
    height: 40px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: none;
   background-color: var(--colorNaranja);
   text-align: center;
}

.main-login  form button:hover,
.main-register form button:hover{
    background-color: #ffad6a;
    cursor: pointer;
}
span.error{
    font-size: 0.5rem;
    color:#ffad6a;
}
@media (min-width: 768px) {

 .main-login  div.formulario,
 .main-register div.formulario {
        margin-top: 0;
    }
    .main-login  div.formulario h2,
    .main-register div.formulario h2{
        margin: 5% 0;  
     }

    .main-login  div.formulario div.box-formulario,
    .main-register div.formulario div.box-formulario{
    width: 580px;
    height: 244px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
}

.main-login  div.formulario div.box-formulario div.box-form input,
.main-register div.formulario div.box-formulario div.box-form input{
    width: 460px;
}

.main-login  div.formulario div.box-formulario div.box-error,
.main-register div.formulario div.box-formulario div.box-error{
    margin-left: 60%;
    font-size: 14px; 
}

 .main-login  div.formulario div.box-check-box,
 .main-register div.formulario div.box-check-box{
    margin-top: 21px;
    font-size: 10px;
}


.main-login  form button,
.main-register form button{
    width: 170px;
    height: 45px;
font-size: 18px;
}
}
span.error{
    font-size: 0.9rem;
    color: #fb9d5a;
}
@media (min-width: 1024px) {
    
 .main-login  div.formulario h2,
 .main-register div.formulario h2{
    font-size: 30px;
  
}
.main-login  div.formulario div.box-formulario,
.main-register div.formulario div.box-formulario{
        width: 880px;
        height: 330px;
        display: flex;
        align-items: center;
}
.main-login  div.formulario div.box-formulario div.box-form label,
.main-register div.formulario div.box-formulario div.box-form label{
    font-size: 22px;
}
.main-login  div.formulario div.box-formulario div.box-form input,
.main-register div.formulario div.box-formulario div.box-form input{
    width: 700px;
    height: 30px;
}
.main-login  div.formulario div.box-formulario div.box-error,
.main-register div.formulario div.box-formulario div.box-error{
    margin-left: 67%;
    display: flex;
    margin-top: -20px;
    font-size: 16px;
}
.main-login  div.formulario div.box-formulario div.box-error .box-remember{
    margin-right: -100%;
}

.main-login  form button,
.main-register form button{
    width: 220px;
    height: 55px;
font-size: 20px;
}
span.error{
    font-size: 1rem;
    color:#ffad6a;
}
}
