<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>
    <body class="bg-light">
        <%-include('./partials/header')%>
        <!--cuerpo-->
        <main class="container">
            
        <div class="row" >
            <div class="col 12 col-lg-8 mx auto">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">imagen</th>
                    <th scope="col">Producto</th>
                    <th scope="col">precio</th>
                    <th scope="col">categoria</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        
        <%-include('./partials/scripts')%>
      
    </body>

</html>