<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Formas de Pago</title>
</head>
<body class="formas-pago">
    <header>
        <div class="header-principal">
            <div class="burger-menu">
                <a href=""><i class="fas fa-bars"></i></a>
                </div>
                <div class="img">
                    <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
                </div>                
                <div class="buscador">
                    <form action="">
                        <input type="text" placeholder="¿Que estas buscando?">
                        <a class="lupa" href="" class="input-group-btn"><i class="fa fa-search fa-lg"></i></a>
                    </form>
                </div>
            <div class="iconos">
                <nav>
                    <ul>
                            <a href="/login" class="user"><i class="far fa-user-circle"></i></a>
                            <a href="/carrito" class="carrito-header"><i class="iconify" data-icon="emojione-monotone:shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </div>
            <div class="categorias">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>
                            <a href="" class="icono-perro"><i class="fas fa-dog"></i></a>
                            <a href="">Perros</a>
                            <a href="" class="boton"><i class="fas fa-caret-down"></i></i></a>
                        </li>
                        <li>
                            <a href="" class="icono-gato"><i class="fas fa-cat"></i></a>
                            <a href="">Gatos</a>
                            <a href="" class="boton"><i class="fas fa-caret-down"></i></a>
                        </li>
                    </ul> 
                </nav>           
            </div>        
            </header>
    <main>
        <div class="inicio">
            <a href="/">Inicio > </a> <a href="/formas-de-pago"> Formas de Pago</a>
        </div>
        <div class="texto">
                <div>
                    <h3>Medios de Pago</h3>
                </div>
                
                <section>
                    <div>
                        <a href=""><i class="far fa-money-bill-alt"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Efectivo".</li>
                                    <li>Confirmá finalmente tu pedido.</li>
                                </ul>
                            </div>
                </section>
             
                <section>
                    <div>
                        <a href=""><i class="fas fa-university"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Transferencia Bancaria".</li>
                                    <li>Realizá la transferencia con los datos que te brindamos al confirmar el pedido.</li>
                                </ul>
                            </div>
                </section>

                <section>
                    <div>
                        <a href=""><i class="fas fa-credit-card"></i></a>
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Tarjeta de crédito / débito".</li>
                                    <li>Confirmá finalmente tu pedido.</li>
                                </ul>
                            </div>
                </section>
                <section>
                    <div> 
                        <img width="58px" height="50px" src="/img/mp.png" alt="">
                    </div>
                            <div>
                                <ul>
                                    <li>Realizá tu compra desde la tienda online de Pet Society.</li>
                                    <li> Seleccioná el método de pago "Mercado Pago".</li>
                                    <li class="ultima-lista">Aprovechá las promociones vigentes con tarjeta de Mercado Pago.</li>
                                </ul>
                            </div>
                </section>
        </div>
    </main>
<%-include('./partials/footer')%>

<%-include('./partials/scripts')%>
</body>

</html>


