<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>
    <body class="home">
        <%-include('./partials/header')%>
        <!--cuerpo-->
        <main>
            <!--Banner-->
        <section class="banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div id="carrousel1" class="carousel-item active"></div>
                    <div id="carrousel2" class="carousel-item "></div>
                    <div id="carrousel3" class="carousel-item "></div>
                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <h3 class="titulos">Perros</h3>
        <!--Productos-->
        <section class="productos">
        <!--Tarjetas 1-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="./img/alimento1.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </article>
        <!--Tarjetas 2-->
        <article>
            <div class="tarjeta">
                <a href="/detalle-de-producto"><img src="/img/alimento2.jpg" alt=""></a>
                <div class="detalle-producto">
                    <h4>Producto</h4>
                    <span>$250 </span>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </article>
        <!--Tarjetas 3-->
        <article>
            <div class="tarjeta">
                <a href="/detalle-de-producto"><img src="/img/alimento3.jpg" alt=""></a>
                <div class="detalle-producto">
                    <h4>Excellent Dog Adult</h4>
                    <span>$250 </span>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </article>
            </article>
            <!--Tarjetas 4-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/alimento4.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 5-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/alimento5.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Prodcuto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 6-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snack4.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 7-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snack1.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 8-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snack2.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 9-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snack3.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 10-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/alimento5.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 11-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/royal.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 12-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/pedigree.webp" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
        </section> 
        <h3 id="gatos" class="titulos">Gatos</h3>
        <section class="productos">
            <!--Tarjetas 1-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snack-gato.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 2-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/salsa.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 2-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/gatos.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 3-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/imggato.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 4-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snacks.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 5-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/gatos4.webp" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 6-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/snacks.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </article>
            <!--Tarjetas 7-->
            <article>
                <div class="tarjeta">
                    <a href="/detalle-de-producto"><img src="/img/salsa.jpg" alt="foto"></a>
                    <div class="detalle-producto">
                        <h4>Producto</h4>
                        <span>$250 </span>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
            </section>
        </main>
        <%-include('./partials/footer')%>
        <%-include('./partials/scripts')%>
      
    </body>

</html>