<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body class="login">
    <header>
        <div class="header-principal">
            <div class="burger-menu">
                <a href=""><i class="fas fa-bars"></i></a>
                </div>
                <div class="img">
                    <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
                </div>                
                <div class="buscador">
                    <form action="">
                        <input type="text" placeholder="¿Que estas buscando?">
                        <a class="lupa" href="" class="input-group-btn"><i class="fa fa-search fa-lg"></i></a>
                    </form>
                </div>
            <div class="iconos">
                <nav>
                    <ul>
                            <a href="/login" class="user"><i class="far fa-user-circle"></i></a>
                            <a href="/carrito" class="carrito-header"><i class="iconify" data-icon="emojione-monotone:shopping-cart"></i></a>
                    </ul>
                </nav>
            </div>
        </div>
            <div class="categorias">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>
                            <a href="" class="icono-perro"><i class="fas fa-dog"></i></a>
                            <a href="">Perros</a>
                            <a href="" class="boton"><i class="fas fa-caret-down"></i></i></a>
                        </li>
                        <li>
                            <a href="" class="icono-gato"><i class="fas fa-cat"></i></a>
                            <a href="">Gatos</a>
                            <a href="" class="boton"><i class="fas fa-caret-down"></i></a>
                        </li>
                    </ul> 
                </nav>           
            </div>        
            </header>
    <main class="main-login">
        <form action="">
            <div class="formulario">
                <h2>Iniciar sesión</h2>
                <div class="box-formulario">
                    <div class="box-form">
                        <label for="email" class="primer-label">Correo electrónico</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="box-form">
                        <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass">
                    </div>
                    
                <div class="box-error">
                   <a href=""><p>Olvidé mi contraseña</p></a> 
                </div>
            </div>
            <div class="box-crea-cuenta">
            <a href="/register"><p>No tengo cuenta. Crea una.</p></a>        
            </div>
            <div class="box-button">
                <button type="submit">Ingresar</button>
            </div>
            
        </form>
    </main>
    <%-include('./partials/footer')%>

    <%-include('./partials/scripts')%>
</body>
</html>