<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nosotros</title>
</head>
<body class="nosotros">
    <%-include('./partials/header')%>

    <main>
        <div class="inicio">
            <a href="/">Inicio > </a> <a href="/nosotros">Quiénes Somos</a>
        </div>
        <div class="texto">
                <div>
                    <p>En Pet Society sabemos lo importante que es tu mascota para vos. Vive, duerme, juega y camina a tu lado. Tu mejor compañía te acepta tal cual sos y, a cambio, te ofrece todo su amor e incondicionalidad. Tu única responsabilidad es cuidarla y quererla.</p> 
                </div>
                <div>
                    <p>En Pet Society reconocemos a las mascotas como un miembro más de la familia, para ello ofrecemos la más amplia variedad en productos alimenticios, accesorios, y mucho más!</p>
                </div>
                <div class="ultimo-parrafo">
                    <p>Desde Petsociety.com entregamos cada semana cientos de productos a hogares con perros y/o gatos. Llevamos hasta tu puerta todo para tu mascota: alimentos balanceados para perros y gatos, accesorios, golosinas, juguetes y mucho más, siendo el pet shop online más completo del país.</p>
                </div>
        </div>
    </main>

    <%-include('./partials/footer')%>

    <%-include('./partials/scripts')%>
</body>

</html>