<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body class="cambios-devoluciones">
    <%-include('./partials/header')%>
    <main>
        <div class="inicio">
            <a href="/">Inicio > </a> <a href="/cambios-devoluciones"> Cambios y Devoluciones</a>
        </div>
        <div class="texto">
                <div>
                    <p>QUEREMOS QUE TU EXPERIENCIA DE COMPRA SEA LA MEJOR.</p> 
                </div>
                <div>
                    <p>SI TUVISTE ALGÚN INCONVENIENTE CON TU PEDIDO Y NECESITÁS AYUDA, COMUNICATE CON NUESTRO EQUIPO DE ATENCIÓN AL CLIENTE (11)-xxxxxxxx PARA QUE PODAMOS AYUDARTE CON TU INCONVENIENTE.</p>
                </div>
                <div>
                    <p>LOS HORARIOS DE ATENCIÓN SON DE LUNES A SABADOS DE 10 A 20 HS. TAMBIÉN PODÉS ENVIARNOS UN MAIL A INFO@PETSOCIETY.COM PARA CONTACTAR A NUESTRO EQUIPO.</p>
                </div>
                <div>
                    <p>PRECORDÁ TENER SIEMPRE A MANO EL NÚMERO DE ORDEN.</p> 
                </div>
                <div class="ultimo-parrafo">
                    <p>¡NOS INTERESA QUE TU SATISFACCIÓN SEA TOTAL!</p>
                </div>
        </div>

        <div class="box-img">
<div> <img src="/img/cambios-gato.png" alt=""></div>
<div><img src="/img/cambios-perro.png" alt=""></div>
        </div>
        
                
    </main>
    <%-include('./partials/footer')%>
    <%-include('./partials/scripts')%>
</body>
</html>


