<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body class="politicas-calidad">
    <%-include('./partials/header')%>
    <main>
        <div class="inicio">
            <a href="/">Inicio > </a> <a href="/politicas-de-calidad">Política de Calidad</a>
        </div>
        <div class="texto">
               <h4>Compromiso de Pet Society con la calidad </h4>
                <div class="box-calidad">
                    <p>Pet Society brinda servicios a cientos de perros y gatos a través de la oferta continua de productos de excelencia, o bien a través de la mejor experiencia de atención y comprende lo siguiente:</p>
                </div>
                <div>
                    <ol class="lista-calidad">
                        <li><p>• Garantizar la seguridad alimentaria, la seguridad de las mascotas y la seguridad de los clientes. </p></li>
                        <li><p>• Satisfacer las necesidades de las mascotas y de sus humanos. </p></li>
                        <li><p>• Comunicarse con los clientes y las partes interesadas y cumplir con los requisitos acordados mutuamente.</p></li>
                        <li><p> • Cumplir con los requisitos legales y reglamentarios. </p></li>
                    </ol>
                </div>
                <div class="box-calidad">
                    <p>Una cultura de la calidad que evoluciona Esta nueva forma de llevar a la práctica la calidad implicará agilidad y colaboración. Nuestro enfoque respecto de la calidad le permitirá al sector de Pet Society prepararse para el futuro e innovar por medio de las siguientes áreas estratégicas:</p>
                </div>
                <div>
                    <ol class="lista-calidad">
                        <li><p> • Impulsar un liderazgo de calidad en toda la empresa, que reafirme una cultura dinámica de la calidad dirigida desde la cúpula y adoptada por todos los Asociados. </p></li>
                        <li><p>• Revitalizar los estándares de calidad actuales y respaldar la singularidad de cada división con respecto a la forma de adecuarse para alcanzar los estándares, procesos y sistemas de calidad. </p></li>
                        <li><p>• Demostrar un liderazgo en calidad visible, en el que se muestre apertura y honestidad con respecto a las cuestiones de calidad. </p></li>
                        <li><p>• Garantizar una comunicación eficaz y oportuna respecto de las cuestiones que afecten la calidad. • Ofrecer a la organización los recursos y las habilidades que sean necesarios, incluidas las competencias, para generar resultados de calidad. </p></li>
                    </ol>
                </div>
                <div class="ultimo-calidad">
                    <p>Este es el compromiso de Pet Society.</p>
                </div>
        </div>
    </main>

    <%-include('./partials/footer')%>

    <%-include('./partials/scripts')%>
</body>

</html>